/* Swagger UI Dark Theme */
body {
    background-color: #1a1a1a !important;
}

.swagger-ui {
    filter: invert(88%) hue-rotate(180deg);
}

.swagger-ui .microlight {
    filter: invert(100%) hue-rotate(180deg);
}

.swagger-ui .info .title,
.swagger-ui .info .description,
.swagger-ui .info p,
.swagger-ui .info a,
.swagger-ui .scheme-container,
.swagger-ui .info .title small,
.swagger-ui .opblock .opblock-summary-description,
.swagger-ui .opblock-tag {
    filter: invert(100%) hue-rotate(180deg);
}

.swagger-ui img {
    filter: invert(100%) hue-rotate(180deg);
}

/* Additional dark theme adjustments */
.swagger-ui .topbar {
    background-color: #2c2c2c;
}

.swagger-ui .info .title {
    color: #ffffff;
}
