@{
    ViewData["Title"] = "Morsley UK Email API";
}

<div class="text-center">

    <h1 class="display-4">Morsley UK Email API</h1>

    @* <p>Test API Swagger: <a href="/swagger">Swagger</a></p> *@    

    @if (ViewBag.IsKeyVaultHealthy)
    {
        <partial name="_DisplayMessage" model='new DisplayMessage { Message = "Key Vault connection OK", Type = MessageType.Good, Details = ViewBag.KeyVaultDetails }' />
    }
    else
    {
        <partial name="_DisplayMessage" model='new DisplayMessage { Message = "There appears to be a Key Vault issue", Type = MessageType.Bad }' />
    }

    @if (ViewBag.IsCosmosDbHealthy)
    {
        <partial name="_DisplayMessage" model='new DisplayMessage { Message = "Cosmos DB connection OK", Type = MessageType.Good, Details = ViewBag.CosmosDbDetails }' />
    }
    else
    {
        <partial name="_DisplayMessage" model='new DisplayMessage { Message = "Cosmos DB connection FAILED", Type = MessageType.Bad }' />
    }

</div>